<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<head th:fragment="head">
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- link th:href="@{/css/styles.css}" rel="stylesheet" -->
    <style>
        body {text-align: center;}
        .actionHistory {border: 1px solid black; margin: 5px;}
        .selectedService {margin: 0 1em 0 0;}
        .navbar-nav .nav-link {padding-right: 2rem;}
        .card {transition: all .3s ease-in-out; }
        .card:hover {
            transform: translateY(-3px);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
            transition: all .3s ease-in-out; }
    </style>
    <title>Education Management System</title>
</head>
</body>
</html>