<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>
            <span>Выбор курса</span>
            <a style="font-size: 16px; padding-left: 20px" href="/grade/">К списку оценок</a>
        </div>
    </div>

    <form method="post">
        <p th:if="${errors!= null}">
            <p class="errorMessage" th:each="error: ${errors}" th:text="${error.getField()+' '+error.getDefaultMessage()}"></p>
        </p>
        <p>
            <label>Выберите курс для простановки оценок</label>
            <br/>
            <select name="course" class="form-select" >
                <option th:each="course : ${courses}" th:value="${course.getId()}" th:text="${course.getTitle()}"></option>
            </select>
        </p>
        <button class="btn btn-primary">Выбрать</button>
    </form>
    <div th:unless="${courses.size() > 0}">
        Список курсов пуст
    </div>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
