<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>Редактирование оценки</div>
        <a href="/grade/" class="btn btn-outline-primary">К списку оценок</a>
    </div>
    <p style="color: #dcdcdc">
        <span th:text="${'id:' + grade.getId()}"></span>
        <span th:text="${'grade:' + grade.getGrade()}"></span>
        <span th:text="${'lesson_id:' + grade.getLessonId()}"></span>
        <span th:text="${'groupStudent_id:' + grade.getGroupStudentId()}"></span>
    </p>
    <form method="post">
        <p th:if="${errors!= null}">
            <!-- p class="errorMessage" th:each="error: ${errors}" th:text="${error.getField()+' '+error.getDefaultMessage()}"></p -->
        </p>
        <p>
            <label>Выберите новую оценку</label>
            <br/>
            <select name="grade" class="form-select">
                <option th:selected="${grade.getGrade().equals('1')}" value="1">1</option>
                <option th:selected="${grade.getGrade().equals('2')}" value="2">2</option>
                <option th:selected="${grade.getGrade().equals('3')}" value="3">3</option>
                <option th:selected="${grade.getGrade().equals('4')}" value="4">4</option>
                <option th:selected="${grade.getGrade().equals('5')}" value="5">5</option>
            </select>
        </p>
        <!-- select name="lessonId">
            <option th:selected="${grade.getLessonId()}"
                    th:each="lesson : ${lessons}"
                    th:value="${lesson.id}"
                    th:text="${lesson.id}"></option>
        </select -->
        <input hidden name="lessonId" th:value="${grade.getLessonId()}"/>
        <!-- label>Идентификатор группа/студент</label -->
        <input hidden name="groupStudentId" th:value="${grade.getGroupStudentId()}"/>

        <button class="btn btn-primary">Сохранить</button>
    </form>
</div>
<style>
    .errorMessage {
        color: red;
    }
</style>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
