<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>
            <span>Выбор группы и урока</span>
            <a style="font-size: 16px; padding-left: 20px" href="/grade/">К списку оценок</a>
        </div>
    </div>

    <form method="post">
        <p th:if="${errors!= null}">
        <p class="errorMessage" th:each="error: ${errors}" th:text="${error.getField()+' '+error.getDefaultMessage()}"></p>
        </p>
        <p>
            <label>Выберите группу</label>
            <br/>
            <select name="group" class="form-select" >
                <option th:each="group : ${groups}" th:value="${group.getId()}" th:text="${group.getTitle()}"></option>
            </select>
            <br/>
            <label>Выберите урок</label>
            <br/>
            <select name="lesson" class="form-select" >
                <option th:each="lesson : ${lessons}" th:value="${lesson.getId()}" th:text="${lesson.getTitle()}"></option>
            </select>
        </p>
        <button class="btn btn-primary">Выбрать</button>
    </form>
    <div th:unless="${lessons.size() > 0}">
        Список уроков пуст
    </div>
    <div th:unless="${groups.size() > 0}">
        Список групп пуст
    </div>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
