<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>
            <span>Список студентов</span>
            <a style="font-size: 16px; padding-left: 20px" href="/grade/">К списку оценок</a>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between" class="fs-5 ms-2 mt-3">
        <div>
            <span th:text="${'Урок: ' + lesson.getTitle()}"></span><span style="color: #bbb; font-size: 14px"
                                                                         th:text="${' id: ' + lesson.getId()}"></span>
            <br/>
            <span th:text="${'Группа: ' + group.getTitle()}"></span><span style="color: #bbb; font-size: 14px"
                                                                          th:text="${' id: ' + group.getId()}"></span>
        </div>
    </div>
    <table th:if="${students.size() > 0}" class="table table-hover mt-1">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">user_id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Оценка</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="grade" th:each="student : ${students}">
            <th scope="row" th:text="${student.getId().toString()}"></th>
            <td th:text="${student.getUserId().toString()}"></td>

            <td th:text="${studentsUsers.get(student.getUserId().toString()).getName()}"></td>
            <td th:text="${studentsUsers.get(student.getUserId().toString()).getSurname()}"></td>
            <td th:text="${groupStudentGrades.get(student.getId().toString())}"></td>
            <td th:if="${groupStudentGrades.get(student.getId().toString()) == null}">
                <form method="post" action="/grade/create">
                    <input hidden name="lessonId" th:value="${lesson_id}"/>
                    <input hidden name="groupStudentId" th:value="${student.getId().toString()}"/>
                    <select name="grade" class="form-select" style="width: 4rem; display: inline-block">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                    </select>
                    <button class="btn btn-outline-primary" style="transform: translateY(-2px); width: 100px">Поставить</button>
                </form>
            </td>
            <td th:unless="${groupStudentGrades.get(student.getId().toString()) == null}">
                <form method="post" action="/grade/edit">
                    <input hidden name="id" th:value="${groupStudentGradesIds.get(student.getId().toString())}"/>
                    <input hidden name="lessonId" th:value="${lesson_id}"/>
                    <input hidden name="groupStudentId" th:value="${student.getId().toString()}"/>
                    <select name="grade" class="form-select" style="width: 4rem; display: inline-block">
                        <option th:selected="${groupStudentGrades.get(student.getId().toString()).equals('1')}" value="1">1</option>
                        <option th:selected="${groupStudentGrades.get(student.getId().toString()).equals('2')}" value="2">2</option>
                        <option th:selected="${groupStudentGrades.get(student.getId().toString()).equals('3')}" value="3">3</option>
                        <option th:selected="${groupStudentGrades.get(student.getId().toString()).equals('4')}" value="4">4</option>
                        <option th:selected="${groupStudentGrades.get(student.getId().toString()).equals('5')}" value="5">5</option>
                    </select>
                    <button class="btn btn-outline-success" style="transform: translateY(-2px); width: 100px">Изменить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:unless="${students.size() > 0}">
        Список студентов пуст
    </div>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
