<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <div>
        <h3>Зачетная книжка</h3>
    </div>
    <div style="display: block; justify-content: center" class="ms-2 mt-3">
        <div style="height: 2.5rem">
            <span class="fs-5 ps-2" th:text="${user.getSurname()}"></span>
        </div>
        <div style="height: 2.5rem">
            <span class="fs-5 ps-2" th:text="${user.getName()}"></span>
        </div>
        <div style="height: 2.5rem">
            <span class="fs-5 ps-2" th:text="${user.getMiddleName()}"></span>
        </div>
    </div>

    <table th:if="${grades.size() > 0}" class="table table-hover mt-1">
        <thead>
        <tr>
            <th scope="col">Курс</th>
            <th scope="col">Лекция</th>
            <th scope="col">Оценка</th>
        </tr>
        </thead>
        <tbody>
        <tr class="grade" th:each="grade : ${grades}">
            <td>
                <a th:href="${'/course/' + lessons.get(grade.getLessonId()).getCourseId().toString()}" th:text="${courses.get( lessons.get(grade.getLessonId()).getCourseId().toString() ).getTitle()}"></a>
            </td>
            <td th:text="${lessons.get(grade.getLessonId()).getTitle()}"></td>
            <td th:text="${grade.getGrade()}"></td>
        </tr>
        </tbody>
    </table>
    <div th:unless="${grades.size() > 0}">
        Зачетная книжка пуста
    </div>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
