<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
<h1>Редактирование группы</h1>
<div>
    <a href="/group/">
        <button>К списку групп</button>
    </a>
</div>
<p th:if="${errors!= null}">
        <p class="errorMessage" th:each="error: ${errors}" th:text="${error.getField()+' '+error.getDefaultMessage()}"></p>
</p>
<form method="post">
    <p>
        <label>Наименование группы</label>
        <br/>
        <input name="title" style="width: 350px;"/>
    </p>
    <p>
        <label>Выберите курс</label>
        <br/>
        <select name="courseId" style="width: 350px;">
            <option th:each="course : ${courses}" th:value="${course.id}"
                    th:text="${course.title}">
            </option>
        </select>
    </p>
    <p>
    Курс стартовал?
            Да <input type="radio" name="started" value="true" />
            Нет <input type="radio" name="started" value="false" />
    </p>

    <p>
        <button>Сохранить курс</button>
    </p>
</form>
<style>
    .errorMessage {
        color: red;
    }
</style>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>