<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <h1 th:text="${user.getName() + ', список Ваших курсов:'}"></h1>
    <hr>
    <div th:if="${courses.size() > 0}">
        <div class="course" th:each="record : ${courses}">
            <h2 th:text="${record.getCourse().getTitle()}"></h2>
            <h3 th:text="${'Описание: ' + record.getCourse().getDescription()}"></h3>
            <h3 th:text="${record.getTeacher() != null} ? ${'Преподаватель: ' + record.getTeacher().getName() + ' ' + record.getTeacher().getMiddleName() + ' ' + record.getTeacher().getSurname()} : 'Преподаватель: пока не задан'"></h3>
            <br>
            <a th:href="${'/course/' + record.getCourse().getId()}">
                <button>Просмотр</button>
            </a>
            <hr>
        </div>
    </div>
    <div th:unless="${courses.size() > 0}">
        Курсов нет
    </div>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
