<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <div class="course">
        <h2 th:text="${course.getCourse().getTitle()}"></h2>
        <h3 th:text="${'Описание: ' + course.getCourse().getDescription()}"></h3>
        <h3 th:text="${course.getTeacher() != null} ? ${'Преподаватель: ' + course.getTeacher().getName() + ' ' + course.getTeacher().getMiddleName() + ' ' + course.getTeacher().getSurname()} : 'Преподаватель: пока не задан'"></h3>
        <h4>Уроки:</h4>
        <div th:if="${course.getLessons() != null && course.getLessons().size() > 0}">
            <div class="lessons" th:each="lesson : ${course.getLessons()}">
                <hr>
                <p th:text="${lesson.getTitle()}"></p>
                <p th:text="'Описание: ' + ${lesson.getDescription()}"></p>
                <p th:text="'Домашнее задание: ' + ${lesson.getHomework()}"></p>
            </div>
        </div>
        <div th:if="${course.getLessons() == null || course.getLessons().size() == 0}">
            <p>Пока нет уроков</p>
        </div>
        <hr>
    </div>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>
