<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head>
    <title>Создание курса</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head -->
<head th:replace="~{common/head :: head}"></head>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
    <h1>Создание курса</h1>
    <div>
        <a href="/course/">
            <button>К списку курсов</button>
        </a>
    </div>
    <form method="post">
        <p th:if="${errors!= null}">
        <p class="errorMessage" th:each="error: ${errors}"
           th:text="${error.getField()+' '+error.getDefaultMessage()}"></p>
        </p>
        <p>
            <label>Наименование курса</label>
            <br/>
            <input name="title"/>
        </p>
        <p>
            <label>Описание курса</label>
            <br/>
            <textarea name="description"></textarea>
        </p>
        <p>
            <label>Выберите преподавателя</label>
            <br/>
            <select name="teacherId" style="width: 350px;">
                <option value=-1>Пока не выбирать преподавателя</option>
                <option th:each="teacher : ${teachers}" th:value="${teacher.id}"
                        th:text="${teacher.name + ' ' + teacher.middleName + ' ' + teacher.surname}"></option>
            </select>
        </p>
        <p>
            <button>Создать курс</button>
        </p>
    </form>

    <style>
        .errorMessage {
            color: red;
        }
    </style>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>