<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head>
    <title>Редактирование курса</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head -->
<head th:replace="~{common/head :: head}"></head>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<div class="container">
<h1>Редактирование курса</h1>
<div>
    <a href="/course/">
        <button>К списку курсов</button>
    </a>
</div>
<form method="post">
    <p th:if="${errors != null}">
    <p class="errorMessage" th:each="error: ${errors}" th:text="${error.getField()+' '+error.getDefaultMessage()}"></p>
    </p>
    <p>
        <label>Наименование курса</label>
        <br/>
        <input name="title" th:value="${course.getCourse().getTitle()}"/>
    </p>
    <p>
        <label>Описание курса</label>
        <br/>
        <textarea name="description" th:text="${course.getCourse().getDescription()}"></textarea>
    </p>
    <p>
        <label>Выберите преподавателя</label>
        <br/>
        <select name="teacherId" style="width: 350px;">
            <option value=-1>Пока не выбирать преподавателя</option>
            <option th:each="teacher : ${teachers}" th:value="${teacher.id}"
                    th:text="${teacher.name + ' ' + teacher.middleName + ' ' + teacher.surname}"
                    th:selected="${course.getCourse().getTeacherId() != null && course.getCourse().getTeacherId().equals(teacher.getId())}">
            </option>
        </select>
    </p>
    <hr>
    <h3>Группы:</h3>
    <div th:if="${groups != null && groups.size() > 0}">
        <div class="groups" th:each="group : ${groups}">
            <p th:text="${group.getTitle()}"></p>
        </div>
    </div>
    <div th:unless="${groups != null && groups.size() > 0}">
        <p>Группы не привязаны к курсу</p>
    </div>
    <hr>
    <h3>Уроки:</h3>
    <div th:if="${course.getLessons() != null && course.getLessons().size() > 0}">
        <div class="lessons" th:each="lesson, stat : ${course.getLessons()}">
            <p th:text="${(stat.index + 1) + '. ' + lesson.getTitle()}"></p>
            <p th:text="${'Описание: ' + lesson.getDescription()}"></p>
            <p th:text="${'Домашнее задание: ' + lesson.getHomework()}"></p>
            <br>
        </div>
    </div>
    <div th:unless="${course.getLessons() != null && course.getLessons().size() > 0}">
        <p>Уроков нет</p>
    </div>
    <div>
        <a th:href="${'/lesson/add?courseId=' + course.getCourse().getId()}">Добавить урок</a>
    </div>
    <hr>
    <br>
    <p>
        <button>Сохранить курс</button>
    </p>
</form>

<style>
    .errorMessage {
        color: red;
    }
</style>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>