<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}"><title th:text="${course.getCourse().getTitle()}"></title></head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div th:replace="~{common/nav :: nav}"></div>
<br/>
<div class="container">
    <div style="display: flex; justify-content: center" class="fs-3 ms-2 mt-3">
        <a href="/" class="btn btn-outline-primary">Главная страница</a>
    </div>

    <pre>
    <div style="display: flex; justify-content: center" class="fs-3 ms-2 mt-3">
        <div>Наименование курса:   </div>
        <div name="title" th:text="${course.getCourse().getTitle()}"></div>
    </div>
    </pre>

    <pre>
    <div style="display: flex; justify-content: center" class="fs-3 ms-2 mt-3">
        <div>Описание курса:   </div>
        <div name="description" th:text="${course.getCourse().getDescription()}"></div>
    </div>
    </pre>

    <pre>
    <div style="display: flex; justify-content: center" class="fs-3 ms-2 mt-3">
        <div>Преподаватель:   </div>
        <div th:text="${course.getTeacher() == null ?
            'Преподаватель пока не назначен' :
            course.getTeacher().getName() + ' ' + course.getTeacher().getMiddleName() + ' ' + course.getTeacher().getSurname()}">
        </div>
    </div>
    </pre>
</div>
<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>