<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}">
    <title>Добавление урока</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<style>
    body {
        text-align: initial;
    }
</style>
<body>
<div class="container">
    <div th:replace="~{common/nav :: nav}"></div>
    <h1>Добавить урок</h1>
    <form method="post">
        <p th:if="${errors != null}">
        <p class="errorMessage" th:each="error: ${errors}"
           th:text="${error.getField()+' '+error.getDefaultMessage()}"></p>
        </p>
        <p>
            <label>Наименование урока</label>
            <br/>
            <input name="title"/>
        </p>
        <p>
            <label>Описание урока</label>
            <br/>
            <textarea name="description"></textarea>
        </p>
        <p>
            <label>Домашнее задание</label>
            <br/>
            <textarea name="homework"></textarea>
        </p>
        <p>
            <button>Сохранить урок</button>
        </p>
    </form>
    <style>
        .errorMessage {
            color: red;
        }
    </style>
    <footer th:replace="~{common/footer :: footer}"></footer>
</div>
</body>
</html>